<a href="https://colab.research.google.com/github/LeonardoM999/Assignment-1/blob/main/notebooks/Introduction%20to%20Python/String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String
A **string** is a sequence of one or more characters surrounded by quotes (single ' or double ", but **the quotes at the beginning and end of a string must match**).

In [ ]:
string1 = "My first lesson of Python"       # string between double quotes
print (string1)                             # Python built-in function to print to the standard output
type(string1)                               # Python built-in function to evaluate data type

My first lesson of Python

str

In [ ]:
string2 = 'My first lesson of Python'       # string between single quotes
print (string2)
type(string2)

My first lesson of Python

str

In [ ]:
string3 = 'An incorect way to type a string in Python" # Remember that the quotes at the beginning and end of a string must match
print(string3)
type(string3)

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-3-8f0cd98089a6>, line 1)

In [ ]:
string4 = "A"
print (string4)
type(string4)

A

str

In [ ]:
print(len(string1))                        # String length

25

In [ ]:
string5 = "hello"
string6 = "world!"
string7 = string5 + string6                # String concatenation
print(string7)

helloworld!

In [ ]:
string8 = string5 + ' ' + string6
print(string8)

hello world!

In [ ]:
string9 = '%s %s %s %d %s %s %s' % ("Welcome", "to", "the", 1, "st", "Python", "lesson")   # Format in sprintf style
print(string9)

Welcome to the 1 st Python lesson

The string class provides numerous methods (for a comprehensive list go to the [offical page](https://docs.python.org/3.5/library/stdtypes.html#string-methods)) including:

In [ ]:
s = 'welcome'
print(s.capitalize())          # It makes the first character UPPERCASE and the rest lowercase

print(s.upper())               # It makes the whole string UPPERCASE

print(s.rjust(20))             # It justifies the string to the right, adding white spaces

print(s.center(20))            # It centers the string, adding white spaces;

print(s.replace('l', '(ell)')) # Replace the string instances 'l' with '(ell)'

print(' world '.strip())       # It deletes white spaces at the string's begininng and end

String can be accessed by position (**remember that Python counts starting from 0**):

In [ ]:
string10 = "Welcome"
print(string10[0])             # Access the element in the first position

In [ ]:
for j in range(0,len(string10)):
    print(string10[j])

**Strings are immutable**. We cannot change an element of an already defined string.

In [ ]:
string10[0] = 'w'

In the following, we will perform some exercises.

In [1]:
### Exercise 1
# Define a string containing your name and compute its length
name= "Farhad"
len(name)

6

In [4]:
### Exercise 2
# Get a new string made of the first 2 and last 3 characters of the following given string
# Output: Weome
var = "Welcome"
var[0:2] + var[-3:]

'Weome'

In [5]:
### Exercise 3
# Get a new single string from the following two given strings, separated by a space
# Output: Hello world!
var1 = "Hello"
var2 = "world!"
var1+" "+var2

'Hello world!'

In [6]:
### Exercise 4
# Using var1 and var2 defined in the previous exercise, get a new single string from them, separated by a comma and a space
# Output: Hello, world!
var1+", "+var2

'Hello, world!'

In [10]:
### Exercise 5
# Get a new single string from two given strings, separated by a space and swap the first two characters of each string
var1 = 'Python'
var2 = 'Matlab'
# Output: Mathon Pytlab
new_var1 = var2[0:3]+var1[3:]
new_var2= var1[0:3]+ var2[3:]
new_var1 + " " +new_var2

'Mathon Pytlab'

In [11]:
### Exercise 6
# Replace each occurrence of term "poor" with the term "good" in the following string:
var1 = "If I study enough and I can generalise the concepts, my exam performance will be poor."
# Output: If I study enough and I can generalise the concepts, my exam performance will be good.
var1.replace("poor","good")

'If I study enough and I can generalise the concepts, my exam performance will be good.'

In [16]:
### Exercise 7
# Display the following string upper and lower cases
var = "Mickey Mouse"
# Output: MICKEY MOUSE
# Output: mickey mouse
x =var.lower()
y = var.upper()
x , y

('mickey mouse', 'MICKEY MOUSE')

In [23]:
### Exercise 8
# Remove all the white spaces from the following string:
string1 = "Welcome to the Module 2 of Biomedical Signal Processing and Machine Learning course"
# Output: WelcometotheModule2ofBiomedicalSignalProcessingandMachineLearningcourse
str2 = string1.replace(" ","")
print(str2)

WelcometotheModule2ofBiomedicalSignalProcessingandMachineLearningcourse

In [25]:
### Exercise 9
#  Get a new string made of four copies of the last two characters of the following string
var = 'Welcome'
# Output: Welcomemememe
var[0:5]+4*var[-2:]

'Welcomemememe'

In [29]:
### Exercise 10
# Sort the following string in alphabetic order
string = "bghoakfgem"
# Output: ['a', 'b', 'e', 'f', 'g', 'g', 'h', 'k', 'm', 'o']
sorted(string)

['a', 'b', 'e', 'f', 'g', 'g', 'h', 'k', 'm', 'o']